<h4 class='d-flex justify-content-between mb-4'>
<span>Post</span>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
</h4>

<% @posts.each do |post| %>
<%= link_to edit_post_path(post), class: 'text-decoration-none' do %>
  <div class="card mt-2">
    <div class="card-body">
    <h5 class='cart-title text-dark'><%= post.title %></h5>
    <p class='text-secondary'><%= post.description%></p>
</div>
</div>
  <% end %>
<% end %>
